.container

  %h1 Users list

.container-fluid

  .row

    .col-sm-3

      %h2 Import Products

      = form_tag import_users_path, multipart: true do

        = file_field_tag :file, id:'filetag'
        = submit_tag "Import", id:'importsub'

    .col-sm-6

      = render 'shared/users_table'

    .col-sm-3
      = link_to "nouveau", new_user_path, class:"btn btn-primary",id:"newuser",remote:true
      #newuserdiv

