.container-fluid
  = form_tag( :remote => true )  do
    %table.table
      %thead
        - if current_user.admin?
          %th{:scope => "col"} Validé/supprimé

        %th{:scope => "col"} Validations
        %th{:scope => "col"} export
        %th{:scope => "col"} salarié
        %th{:scope => "col"} intitulé
        %th{:scope => "col"} date
        %th{:scope => "col"} peage
        %th{:scope => "col"} parking
        %th{:scope => "col"} gasoil
        %th{:scope => "col"} tauxkm
        %th{:scope => "col"} nombrekm
        %th{:scope => "col"} montantkm
        %th{:scope => "col"} autre infos
        %th{:scope => "col"} divers
        %th{:scope => "col"} Total
        %th{:scope => "col"} Modifié
      %tbody
        - @deplacements.each do |deplacement|

          %tr{:id => "deplacement_#{deplacement.id}"}
            %td
              = link_to_if(!deplacement.valider,'Supprimer', deplacement_path(deplacement), class: 'btn btn-danger', method: :delete, remote:true, data: {confirm: 'Are you sure?'}){}
              = link_to_if(current_user.admin?&&!deplacement.valider,'Validé', "/deplacement/#{deplacement.id}/valider/", class: 'btn btn-warning'){}
            %td.text-center{:scope => "row"}
              - if deplacement.valider
                .text-success=fa_icon "check"
              - else
                .text-danger=fa_icon "times"
            %td
              - if deplacement.valider
                - unless deplacement.export
                  = check_box_tag "deplacement_ids[]", deplacement.id, false
                -else
                  .text-success= fa_icon "check-square"
              - else
                .text-danger.font-italic= 'en attente'
            %td= deplacement.user.name
            %td= deplacement.title
            %td= deplacement.date
            %td= deplacement.peage
            %td= deplacement.parking
            %td= deplacement.gasoil
            %td= deplacement.tauxkm
            %td= deplacement.nombrekm
            %td= deplacement.tauxkm * deplacement.nombrekm if deplacement.tauxkm
            %td= deplacement.diver.info if deplacement.diver
            %td= deplacement.diver.montant if deplacement.diver
            %td= deplacement.total
            %td= render partial: "shared/show_deplacement_link", locals: {deplacement: deplacement}
      = render "shared/export_tag"

:javascript
  function changeFormat(format) {
    $("#return_value").val(format);
  }
