%table
  %thead
    %th
    %th nom
    %th prenom
    %th login
    %th email
  %tbody
    - @users.each do |user|
      %tr{:id => "user_#{user.id}"}
        %td
          = link_to 'Voir listes de deplacement', show_deplacements_path(user.id), class: 'btn btn-primary', remote: true
        %td
          = user.name
        %td
          = user.first_name
        %td
          = user.login
        %td
          = user.email
        %td.d-flex.flex-row
          = link_to "Edit", edit_user_path(user), class: "btn btn-info", remote: true
          = link_to 'Supprimer', user_path(user), class: 'btn btn-danger', method: :delete, remote: true, data: {confirm: 'Are you sure?'}
