:javascript
  $(document).ready(function() { $("#deplacement_user_id").select2(); });
- unless @deplacement.diver
  = link_to "frais divers supplementaire?", deplacements_fraisdivers_path, class:'btn btn-primary',remote: true
  .field.form-group
    = f.label 'frais divers : non'
-else
  = link_to "pas de frais divers supplementaire?", new_deplacement_path, class:'btn btn-primary'
  .field.form-group
    = f.label 'frais divers : oui'
-if current_user.admin?
  .field.form-group
  = f.label :user_id
  %br/
  = f.collection_select :user_id, User.all, :id, :name
-else
  = f.hidden_field :user_id, :value => current_user.id
.field.form-group
  = f.label :Intitulé,class: 'form-label'
  %br/
  = f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control"
.field.form-group
  = f.label :date
  %br/
  = f.date_select :date, autofocus: true, autocomplete: "date"

.field.form-group
  = f.label :vehicule_id,class: 'form-label'
  %br/
  = f.collection_select :vehicule_id, Vehicule.all, :id, :immatriculation, {:include_blank => true}, { class: "form-control", :'data-remote' => true, :'data-url'=>"/deplacements/getvehicule" }

#kmform.form-group

#diverform.form-group


.actions
  = f.submit "Validé"


