.container-fluid
  .row
    .field.form-group.col-sm-4
      = f.label :Intitulé,class: 'form-label'
      %br/
      = f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control"
  .row
    .col-sm-4
      .field.form-group
        = f.label :date
        %br/
        = f.date_select :date, autofocus: true, autocomplete: "date"

    .col-sm-4

      .field
      = f.label :vehicule_id,class: 'form-label'
      %br/
      = f.collection_select :vehicule_id, Vehicule.all, :id, :immatriculation, {:include_blank => true}, { class: "form-control", :'data-remote' => true, :'data-url'=>"/deplacements/getvehicule" }

      #kmform.form-group

    .col-sm-4
      = link_to "frais divers supplementaire?", deplacements_fraisdivers_path, class:'btn btn-primary',remote: true, id:'btndivers'

      #diverform.form-group

  .row
    .actions
      = f.submit "Validé"


