.field
  = params[:f].label :nombrekm
  %br/
  = params[:f].number_field :nombrekm, autofocus: true
.field
  = params[:f].label :gasoil
  %br/
  = params[:f].number_field :gasoil, autofocus: true, autocomplete: "gasoil"

.field
  = params[:f].label :peage
  %br/
  = params[:f].number_field :peage, autofocus: true, autocomplete: "peage"
.field
  = params[:f].label :parking
  %br/
  = params[:f].number_field :parking, autofocus: true, autocomplete: "parking"