%h1= @title
%table
  %thead
    %th salarié
    %th intitulé
    %th date
    %th peage
    %th parking
    %th gasoil
    %th taux km
    %th nombre dekm
    %th montant/km
    %th autre infos
    %th divers
    %th Total
  %tbody
    -total=totalpeage=totalparking=totalgasoil=totalmontantkm=totalmontant=0
    -@deplacements.each do |deplacement|
      %tr
        %td= deplacement.user.name
        %td= deplacement.title
        %td= deplacement.date
        %td= deplacement.peage
        %td= deplacement.parking
        %td= deplacement.gasoil
        %td= deplacement.tauxkm
        %td= deplacement.nombrekm
        %td= deplacement.tauxkm*deplacement.nombrekm if deplacement.tauxkm
        %td= deplacement.diver.info if deplacement.diver
        %td= deplacement.diver.montant if deplacement.diver
        %td= deplacement.total
      -total+=deplacement.total
      -totalpeage+=deplacement.peage
      -totalparking+=deplacement.parking
      -totalgasoil+=deplacement.gasoil
      -totalmontantkm+= (deplacement.tauxkm*deplacement.nombrekm) if deplacement.tauxkm
      -totalmontant+=deplacement.diver.montant  if deplacement.diver
    %tr
      %td total
      %td=""
      %td=""
      %td= totalpeage
      %td= totalparking
      %td= totalgasoil
      %td=""
      %td=""
      %td= totalmontantkm
      %td=""
      %td= totalmontant
      %td= total